Installed pandas and numpy labraries to modify the dataset.

In [3]:
import pandas as pd
import numpy as np

Cleaning Data

1. Column 2: change datetime to time (HH:MM).
2. Column 4: change empty places to display "payed with cash".
3. Column 5: change Amount of money in Ukrainian hryvnias to Euros.
4. Count missing values for each column.

Get the data.

In [4]:
data = pd.read_csv('coffee_sales.csv')
data.head()

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

#### 1. Formating DataTime